                        /* DEFAULT CSS ATTRIBUTES */
                /* OVERRIDDEN BY sys.root[] CUSTOMIZATIONS */


/* ########################### USER THEME ########################## */

/* ROOT -------------------------- CURRENT USER THEME VARIABLES      */

    :root {
                    /*--accent-color                      : auto; }*/

    /* WARNING: Do not use color names like 'white' as the color picker only accepts Hex values */

                    --accent-color                      : auto;
                    --align-content                     : normal;
                    --align-items                       : normal;
                    --align-self                        : auto;
                    --alignment-baseline                : auto;
                    --all                               : ;
                    --animation-delay                   : 0s;
                    --animation-direction               : normal;
                    --animation-duration                : 0s;
                    --animation-fill-mode               : none;
                    --animation-iteration-count         : 1;
                    --animation-name                    : none;
                    --animation-play-state              : running;
                    --animation-timing-function         : ease;
                    --app-region                        : none;
                    --appearance                        : none;
                    --aspect-ration                     : auto;
                    --backdrop-filter                   : none;
                    --backface-visability               : visable;
                    --background-attachment             : scroll;
                    --background-blend-mode             : normal;
                    --background-clip                   : border-box;
                    --background-color:            black;
                    --background-image                  : none;
                    --background-origin                 : padding-box;
                    --background-position-x             : 0%;
                    --background-position-y             : 0%;
                    --background-repeat-x               : ;
                    --background-repeat-y               : ;
                    --background-size                   : auto;
                    --baseline-shift                    : 0px;
                    --block-size                        : ;          /*calculated - SPAN auto*/
                    --border-block-end-color            : rgb(0, 0, 0);
                    --border-block-end-style            : none;
                    --border-block-end-width            : 0px;
                    --border-block-start-color          : rgb(0, 0, 0);
                    --border-block-start-style          : none;
                    --border-block-start-width          : 0px;
                    --border-block-bottom-color         : rgb(0, 0, 0);
                    --border-bottom-left-radius         : 0px;
                    --border-bottom-right-radius        : 0px;
                    --border-bottom-style               : none;
                    --border-bottom-width               : 0px;
                    --border-collapse                   : separate;
                    --border-color:                currentcolor;
                    --border-end-end-radius             : 0px;
                    --border-end-start-radius           : 0px;
                    --border-image-outset               : 0;
                    --border-image-repeat               : stretch;
                    --border-image-slice                : 100%;
                    --border-image-source               : none;
                    --border-image-width                : 1;
                    --border-inline-end-color           : rgb(0,0,0);
                    --border-inline-end-style           : none;
                    --border-inline-end-width           : 0px;
                    --border-left-color                 : rgb(0,0,0);
                    --border-left-style                 : none;
                    --border-left-width                 : 0px;
                    --border-right-color                : rgb(0,0,0);
                    --border-right-style                : none;
                    --border-right-width                : 0px;
                    --border-start-end-radius           : 0px;
                    --border-start-start-radius         : 0px;
                    --border-top-color                  : rgb(0,0,0);
                    --border-top-left-radius            : 0px;
                    --border-top-right-radius           : 0px;
                    --border-top-style                  : none;
                    --border-top-width                  : 0px;
                    --bottom                            : auto;
                    --box-shadow                        : none;
                    --box-shadow-color:            lightblue;
                    --box-shadow-v:                10px;
                    --box-shadow-h:                10px;
                    --box-shadow-blur:             25px;
                    --box-shadow-spread:           12px;
                    --box-shadow-inset:            inset;
                    --box-sizing                        : content-box;
                    --break-after                       : auto;
                    --break-before                      : auto;
                    --break-inside                      : auto;
                    --buffered-rendering                : auto;
                    --caption-side                      : top;
                    --caret-color                       : rgb(0,0,0);
                    --clear                             : none;
                    --clip                              : auto;
                    --clip-path                         : none;
                    --clip-rule                         : nonzero;       
                    --color:                       #daa520; /* names not allowed for setting color picker */
                    --color-interpolation               : srgb;
                    --color-interpolation-filters       : linearrgb;
                    --color-rendering                   : auto;
                    --color-scheme                      : normal;
                    --column-count                      : auto;
                    --column-fill                       : balance;
                    --column-gap                        : normal;
                    --column-rule-color                 : rgb(0,0,0);
                    --column-rule-style                 : none;
                    --column-rule-width                 : 0px;
                    --column-span                       : none;
                    --column-width                      : auto;
                    --contain                           : none;
                    --contain-intrinsic-block-size      : none;
                    --contain-intrinsic-height          : none;
                    --contain-intrinsic-inline-size     : none;
                    --contain-intrinsic-width           : none;
                    --content                           : normal;
                    --content-visability                : visable;
                    --counter-increment                 : none;
                    --counter-reset                     : none;
                    --counter-set                       : none;
                    --cursor                            : auto;
                    --cx                                : 0px;
                    --cy                                : 0px;
                    --d                                 : none;
                    --direction                         : ltr;
                    --display                           : block;
                    --dominant-baseline                 : auto;
                    --empty-cells                       : show;
                    --fill                              : rgb(0,0,0);
                    --fill-opacity                      : 1;
                    --fill-rule                         : nonzero;
                    --filter                            : none;
                    --flex-bassis                       : auto;
                    --flex-direction                    : row;
                    --flex-grow                         : 0;
                    --flex-shrink                       : 1;
                    --flex-wrap                         : nowrap;
                    --float                             : none;
                    --flood-color                       : rgb(0,0,0);
                    --flood-opacity                     : 1;
                    --font-family:                 Lucida Sans Unicode; 
                    --font-feature-settings             : normal;
                    --font-kerning                      : auto;
                    --font-optical-sizing               : auto;
                    --font-palette                      : normal;
                    --font-size:                   18px; 
                    --font-stretch                      : 100%;
                    --font-style                        : normal; /* italic */
                    --font-synthesis-small-caps         : auto;
                    --font-synthesis-style              : auto;
                    --font-synthesis-weight             : auto;
                    --font-variant-caps                 : normal;
                    --font-variant-east-asian           : normal;
                    --font-variant-ligatures            : normal;
                    --font-variant-numeric              : normal;
                    --font-variation-settings           : normal;
                    --font-weight                       : 400;
                    --forced-color-adjust               : auto;
                    --grid-auto-columns                 : auto;
                    --grid-auto-flow                    : row;
                    --grid-auto-rows                    : auto;
                    --grid-column-end                   : auto;
                    --grid-column-start                 : auto;
                    --grid-row-end                      : auto;
                    --grid-row-start                    : auto;
                    --grid-template-areas               : none;
                    --grid-template-columns             : none;
                    --grid-template-rows                : none;
                    --height                            : ;          /*calculated screen height;*/
                    --hyphens                           : manual;
                    --image-orientation                 : from-image;
                    --image-rendering                   : auto;
                    --inline-size                       : ;          /* calculate?*/
                    --inset-block-end                   : auto;
                    --inset-block-start                 : auto;
                    --inset-inline-end                  : auto;
                    --inset-inline-start                : auto;
                    --isolation                         : auto; 
                    --justify-content                   : normal;
                    --justify-items                     : normal;
                    --justify-self                      : auto;
                    --left                              : auto;
                    --letter-spacing                    : normal;
                    --lighting-color                    : rgb(255,255,255);
                    --line-break                        : auto;
                    --line-height                       : normal;
                    --list-style-image                  : none;
                    --list-style-position               : outside;
                    --list-style-type                   : disc;
                    --margin                            : 8px;       /*DIV 0px*/
                    --margin-block-end                  : 8px;       /*DIV 0px*/
                    --margin-block-start                : 8px;       /*DIV 0px*/
                    --margin-bottom                     : 8px;       /*DIV 0px*/
                    --margin-inline-end                 : 8px;       /*DIV 0px*/
                    --margin-inline-start               : 8px;       /*DIV 0px*/
                    --margin-left                       : 8px;       /*DIV 0px*/
                    --margin-right                      : 8px;       /*DIV 0px*/
                    --margin-top                        : 8px;       /*DIV 0px*/
                    --marker-end                        : none;
                    --marker-mid                        : none; 
                    --marker-start                      : none;
                    --mask                              : none;
                    --mask-type                         : luminance;
                    --max-block-size                    : none;
                    --max-height                        : none;
                    --max-inline-size                   : none;
                    --max-width                         : none;
                    --min-block-size                    : 0px;
                    --min-height                        : 0px;
                    --min-inline-size                   : 0px;
                    --min-width                         : 0px;
                    --mix-blend-mode                    : normal;
                    --object-fit                        : fill;
                    --object-position                   : 50% 50%;
                    --offset-distance                   : 0px;
                    --offset-path                       : none;
                    --offset-rotate                     : auto 0deg;
                    --opacity                           : 1;
                    --order                             : 0;
                    --orphans                           : 2;
                    --outline-color                     : rgb(0,0,0);
                    --outline-offset                    : 0px;
                    --outline-style                     : none;
                    --outline-width                     : 0px;
                    --overflow-anchor                   : auto;
                    --overflow-clip-margin              : 0px;
                    --overflow-wrap                     : normal;
                    --overflow-x                        : visable;
                    --overflow-y                        : visable;
                    --overflow:                    visable;
                    --overscroll-behaviour-block        : auto;
                    --overscroll-behaviour-inline       : auto;
                    --overscroll-behaviour-x            : auto;
                    --overscroll-behaviour-y            : auto;
                    --padding-block-end                 : 0px; 
                    --padding-block-start               : 0px; 
                    --padding-bottom                    : 0px; 
                    --padding-inline-end                : 0px; 
                    --padding-inline-start              : 0px; 
                    --padding-left                      : 0px;
                    --padding-right                     : 0px;
                    --padding-top                       : 0px;
                    --page                              : auto; 
                    --page-orientation                  : ;
                    --paint-order                       : normal  ;   
                    --perspective                       : none  ;
                    --perspective-origin                : ;               /* alculated*/
                    --pointer-events                    : auto;
                    --position                          : static;
                    --quotes                            : auto;
                    --r                                 : 0px;
                    --resize                            : none;
                    --right                             : auto;
                    --raw-gap                           : normal;
                    --ruby-position                     : over;
                    --rx                                : auto;
                    --ry                                : auto;
                    --scroll-behaviour                  : auto;
                    --scroll-margin-block-end           : 0px;
                    --scroll-margin-block-start         : 0px;
                    --scroll-margin-bottom              : 0px;
                    --scroll-margin-inline-end          : 0px;
                    --scroll-margin-inline-start        : 0px;
                    --scroll-margin-left                : 0px;
                    --scroll-margin-right               : 0px;
                    --scroll-margin-top                 : 0px;
                    --scroll-padding-block-end          : auto;
                    --scroll-padding-block-start        : auto;
                    --scroll-padding-bottom             : auto;
                    --scroll-padding-inline-end         : auto;
                    --scroll-padding-inline-start       : auto;
                    --scroll-padding-left               : auto;
                    --scroll-padding-right              : auto;
                    --scroll-padding-top                : auto;
                    --scroll-snap-align                 : none;
                    --scroll-snap-stop                  : normal;
                    --scroll-snap-type                  : none;
                    --scrollbar-gutter                  : auto;
                    --scroll-shape-image-threshold      : 0;
                    --scroll-shape-margin               : 0px;
                    --scroll-shape-outside              : none;
                    --scroll-shape-rendering            : auto;
                    --size                              : ;
                    --speak                             : normal;
                    --stop-color                        : rgb(0,0,0);
                    --stop-opacity                      : 1;
                    --stroke                            : none;
                    --stroke-dasharray                  : none;
                    --stroke-dashoffset                 : 0px;
                    --stroke-linecap                    : butt;
                    --stroke-linejoin                   : miter;
                    --stroke-miterlimit                 : 4;
                    --stroke-opacity                    : 1;
                    --stroke-width                      : 1px;
                    --tab-size                          : 8;
                    --table-layout                      : auto;
                    --text-align                        : start;  /* left */
                    --text-align-last                   : auto;
                    --text-anchor                       : start;
                    --text-combine-upright              : none;
                    --text-decoration-color             : rgb(0,0,0) ;
                    --text-decoration-line              : none;
                    --text-decoration-skip-ink          : auto;
                    --text-decoration-style             : solid;
                    --text-decoration-thickness         : auto;
                    --text-emphasis-color               : rgb(0,0,0);
                    --text-emphasis-position            : over;
                    --text-emphasis-style               : none;
                    --text-indent:                 50px;
                    --text-orientation                  : mixed;
                    --text-overflow                     : clip;
                    --text-rendering                    : auto;
                    --text-shadow                       : none;
                    --text-size-adjust                  : auto;
                    --text-transform                    : none;
                    --text-underline-offset             : auto;
                    --text-underline-position           : auto;
                    --top                               : auto;
                    --touch-action                      : auto;
                    --transform                         : none;
                    --transform-box                     : view-box;
                    --transform-origin                  : alculated;
                    --transform-style                   : flat;
                    --transform-delay                   : 0s;
                    --transform-duration                : 0s;
                    --transform-property                : all;
                    --transform-timing-function         : ease;
                    --unicode bidi                      : normal;
                    --user-select                       : auto;
                    --vector-effect                     : none;
                    --vertical-align                    : baseline;
                    --visability                        : visable;
                    --white-space                       : normal;
                    --widows                            : 2;
                    --width                             : ;     /*calculated;*/
                    --will-change                       : auto;
                    --word-wrap:                   normal;
                    --word-break                        : normal;
                    --word-spacing                      : 0px;
                    --writing-mode                      : horizontal-tb;
                    --x                                 : 0px;
                    --y                                 : 0px;
                    --z-index                           : auto;                
                    --zoom                              : 1;                  

    /* text shadow defaults                  */

                    --shadow-color:                var(--color);                /* shadow 1 */
                    --shadow-v:                    0px; /* off until changed*/
                    --shadow-h:                    var(--text-shadow-v);
                    --shadow-spread:               12px;
                    --shadow-blur:                 5px;
                    --shadow-inset:                inset;

                    --shadow2-color:               red;                      /* shadow 2 */
                    --shadow2-v:                   0px; /* off until changed*/
                    --shadow2-h:                   var(--text-shadow2-v);
                    --shadow2-blur:                0px;
                    --shadow2-spread:              12px;
                    --shadow2-inset:               inset;

                    --shadow3-color:               blue;                     /* shadow 3 */
                    --shadow3-v:                   0px; /* off untile changed*/
                    --shadow3-h:                   var(--text-shadow3-v);
                    --shadow3-blur:                0px;
                    --shadow3-spread:              12px;
                    --shadow3-inset:               inset;

                    --shadow4-color:               green;                    /* shadow 4 */
                    --shadow4-v:                   0px; /* off until changed*/
                    --shadow4-h:                   var(--text-shadow4-v);
                    --shadow4-blur:                0px;
                    --shadow4-spread:              12px;
                    --shadow4-inset:               inset;
    /*--------------------------- colors     */

                    --yellow:                      ;
    /* CSS ATTRs for SPECIFIC TAGs or CLASSes */

    /*--------------------------- title      */
                    --title-color:                 #16d0c3; 
                    --title-background-color:      transparent; 
                    --title-font-size:             38px;
                    --title-font-family:           var(--font-family);
                    --title-font-weight:           var(--font-weight);
                    --title-font-style:            normal; /* italic */
                    --title-text-align:            left;
                    --title-line-height:           var(--line-height);

                    --title-shadow-color:          var(--title-font-color);  /* shadow 1 */
                    --title-shadow-v:              5px;
                    --title-shadow-h:              var(--title-shadow-v);
                    --title-shadow-spread:         var(--text-shadow-spread);
                    --title-shadow-blur:           var(--text-shadow-blur);
                    --title-shadow-inset:          var(--text-shadow-inset);

                    --title-shadow2-color:         red;                      /* shadow 2 */
                    --title-shadow2-v:             0px; /* off until changed*/
                    --title-shadow2-h:             var(--title-shadow2-v);
                    --title-shadow2-blur:          0px;
                    --title-shadow2-spread:        var(--text-shadow-spread);
                    --title-shadow2-inset:         var(--text-shadow-inset);

                    --title-shadow3-color:         blue;                     /* shadow 3 */
                    --title-shadow3-v:             0px; /* off untile changed*/
                    --title-shadow3-h:             var(--title-shadow3-v);
                    --title-shadow3-blur:          0px;
                    --title-shadow3-spread:        var(--text-shadow-spread);
                    --title-shadow3-inset:         var(--text-shadow-inset);

                    --title-shadow4-color:         green;                    /* shadow 4 */
                    --title-shadow4-v:             0px; /* off until changed*/
                    --title-shadow4-h:             var(--title-shadow4-v);
                    --title-shadow4-blur:          0px;
                    --title-shadow4-spread:        var(--text-shadow-spread);
                    --title-shadow4-inset:         var(--text-shadow-inset);

                    --title-margin               : 0px;      
                    --title-margin-top:            0px;
                    --title-margin-bottom:         0px;
                    --title-margin-left:           0px;
                    --title-margin-right:          0px;

                    --title-padding-top:           0px;
                    --title-padding-bottom:        0px;
                    --title-padding-left:          0px;
                    --title-padding-right:         0px;
    /*--------------------------- sub title  */

                    --subtitle-txt-family:  var(--txt-font-family);   /*       sub title  */
                    --subtitle-txt-weight:  var(--txt-font-weight);  
                    --subtitle-txt-height:  var(--txt-font-height);
                    --subtitle-txt-color:   var(--txt-font-color);
                    --subtitle-sdow-color:  var(--txt-shadow-color);
                    --subtitle-sdow-v:      var(--txt-shadow-v);
                    --subtitle-sdow-h:      var(--txt-shadow-h);
                    --subtitle-sdow-spread: var(--txt-shadow-spread);
                    --subtitle-sdow-blur:   var(--txt-shadow-blur);
                    --subtitle-sdow-inset:  var(--txt-shadow-inset);
    /*--------------------------- descripton */

                    --description-color:                 #11a4ee; 
                    --description-background-color:      transparent; 
                    --description-font-size:             20px;
                    --description-font-family:           'Copperplate Gothic';
                    --description-font-weight:           var(--font-weight);
                    --description-font-style:            normal; /* italic */
                    --description-text-align:            left;
                    --description-line-height:           var(--line-height);
                    --description-margin               : 0px; 
                    --description-margin-top:            0px;
                    --description-margin-bottom:         0px;
                    --description-margin-left:           0px;
                    --description-margin-right:          0px;
                    --description-padding-top:           0px;
                    --description-padding-bottom:        0px;
                    --description-padding-left:          0px;
                    --description-padding-right:         0px;
    /*--------------------------- button     */

                    --button-font-family:                var(--button-font-family);   
                    --button-font-weight:                400;  
                    --button-font-size:                  calc( var(--font-size) - 4px ); /* spaces required for calc */
                    --button-color:                      #3af8eb;
                    --button-background-color:           #082530;
                    --button-padding:                    3px;
                    --button-margin:                     2px;

                    --button-shadow-color:               currentcolor;
                    --button-shadow-v:                   4px;
                    --button-shadow-h:                   10px;
                    --button-shadow-spread:              var(--but-shadow-spread);
                    --button-shadow-blur:                var(--but-shadow-blur);
                    --button-shadow-inset:               var(--but-shadow-inset);   

                    --button-border-color:               grey;
                    --button-border-style:               solid;     
                    --button-border-top-width:           2px;
                    --button-border-bottom-width:        2px;
                    --button-border-left-width:          2px;
                    --button-border-right-width:         2px;
                    --button-border-top-left-radius:     15%;
                    --button-border-top-right-radius:    15%;
                    --button-border-bottom-left-radius:  15%;
                    --button-border-bottom-right-radius: 15%;

                    --button-box-shadow-color:           currentcolor;    
                    --button-box-shadow-v:               4px;
                    --button-box-shadow-h:               4px;
                    --button-box-shadow-blur:            blur;
                    --button-box-shadow-spread:          var(--bdr-shadow-spread);
                    --button-box-shadow-inset:           var(--bdr-shadow-inset);               
    /*--------------------------- input      */

                    --ip-txt-family:        var(--font-family);   /*       input      */
                    --ip-txt-weight:        var(--font-weight);  
                    --ip-txt-height:        calc(var(--font-size) + 11px); 
                    --ip-txt-color:         var(--color);
                    --ip-bdr-color:         var(--bdr-color   );
                    --ip-bdr-style:         var(--bdr-style   );
                    --ip-bdr-t-width:       var(--bdr-t-width );
                    --ip-bdr-b-width:       var(--bdr-b-width );
                    --ip-bdr-l-width:       var(--bdr-l-width );
                    --ip-bdr-r-width:       var(--bdr-r-width );
                    --ip-bdr-tl-radius:     var(--bdr-tl-radius);
                    --ip-bdr-tr-radius:     var(--bdr-tr-radius);
                    --ip-bdr-bl-radius:     var(--bdr-bl-radius);
                    --ip-bdr-br-radius:     var(--bdr-br-radius);
                    --ip-sdow-color:        var(--bdr-shadow-color);
                    --ip-sdow-v:            var(--bdr-shadow-v);
                    --ip-sdow-h:            var(--bdr-shadow-h);
                    --ip-sdow-spread:       var(--bdr-shadow-spread);
                    --ip-sdow-blur:         var(--bdr-shadow-blur);
                    --ip-sdow-inset:        var(--bdr-shadow-inset);
                    --ip-txt-size:          25;  /* ? */
                    --ip-min-length:        25;  /* ? */
    /*--------------------------- note       */

                    --note-txt-family:      var(--txt-font-family);   /*       note - textarea     */
                    --note-txt-weight:      var(--txt-font-weight);  
                    --note-txt-height:      var(--txt-font-height);
                    --note-txt-color:       var(--txt-font-color);
                    --note-bdr-color:       var(--bdr-color   );
                    --note-bdr-style:       var(--bdr-style   );
                    --note-bdr-t-width:     var(--bdr-t-width );
                    --note-bdr-b-width:     var(--bdr-b-width );
                    --note-bdr-l-width:     var(--bdr-l-width );
                    --note-bdr-r-width:     var(--bdr-r-width );
                    --note-bdr-tl-radius:   var(--bdr-tl-radius);
                    --note-bdr-tr-radius:   var(--bdr-tr-radius);
                    --note-bdr-bl-radius:   var(--bdr-bl-radius);
                    --note-bdr-br-radius:   var(--bdr-br-radius);
                    --note-sdow-color:      var(--bdr-shadow-color);
                    --note-sdow-v:          var(--bdr-shadow-v);
                    --note-sdow-h:          var(--bdr-shadow-h);
                    --note-sdow-spread:     var(--bdr-shadow-spread);
                    --note-sdow-blur:       var(--bdr-shadow-blur);
                    --note-sdow-inset:      var(--bdr-shadow-inset);
    /*--------------------------- image      */

                    --image-txt-family:      var(--txt-font-family);   /*       image     */
                    --image-txt-weight:      var(--txt-font-weight);  
                    --image-txt-height:      var(--txt-font-height);
                    --image-txt-color:       var(--txt-font-color);
                    --image-bdr-color:       var(--bdr-color   );
                    --image-bdr-style:       var(--bdr-style   );
                    --image-bdr-t-width:     var(--bdr-t-width );
                    --image-bdr-b-width:     var(--bdr-b-width );
                    --image-bdr-l-width:     var(--bdr-l-width );
                    --image-bdr-r-width:     var(--bdr-r-width );
                    --image-bdr-tl-radius:   var(--bdr-tl-radius);
                    --image-bdr-tr-radius:   var(--bdr-tr-radius);
                    --image-bdr-bl-radius:   var(--bdr-bl-radius);
                    --image-bdr-br-radius:   var(--bdr-br-radius);
                    --image-sdow-color:      var(--bdr-shadow-color);
                    --image-sdow-v:          var(--bdr-shadow-v);
                    --image-sdow-h:          var(--bdr-shadow-h);
                    --image-sdow-spread:     var(--bdr-shadow-spread);
                    --image-sdow-blur:       var(--bdr-shadow-blur);
                    --image-sdow-inset:      var(--bdr-shadow-inset);
        }

/* ------------------------------- USER CLASSES & TAGS               */

/* BODY                     */ 

    body                    {
                          color:                       var(--color           );
                          background-color:            var(--background-color);    
                          font-family:                 var(--font-family     );    
                          font-weight:                 var(--font-weight     );  
                          font-style:                  var(--font-style      );  
                          font-size:                   var(--font-size       ); 
                          text-align:                  var(--text-align      );
                          margin-top:                  var(--margin-top      );
                          margin:                      var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
                          margin-bottom:               var(--margin-bottom   );
                          margin-left:                 var(--margin-left     );
                          margin-right:                var(--margin-right    );
                          padding-top:                 var(--padding-top     );
                          padding-bottom:              var(--padding-bottom  );
                          padding-left:                var(--padding-left    );
                          padding-right:               var(--padding-right   );
                          /*text-shadow:                 none;*/
                          box-shadow:                  none;  
                          overflow:                    var(--overflow        );
                          overflow-wrap:               var(--overflow-wrap   );
                          overflow-x:                  var(--overflow-x      );
                          overflow-y:                  var(--overflow-y      );
                          word-wrap:                   var(--word-wrap       );
                          word-break:                  var(--word-break      );
                          word-spacing:                var(--word-spacing    );
                          writing-mode:                var(--writing-mode    );
                          /*line-height:               var(--line-height);*/
                        }
/* BUTTON                   */ 

    .button, .buttonBorder  {
                          color:                       var(--button-color);
                          background-color:            var(--button-background-color);
                          font-family:                 var(--button-font-family);
                          font-weight:                 var(--button-font-weight);  
                          font-size:                   var(--button-font-size);
                          padding:                     var(--button-padding);    
                          margin:                      var(--button-margin); 
                          }
    .buttonBorder           {
                          border-color:                var(--button-bdr-color);       
                          border-style:                var(--button-bdr-style);          
                          border-top-width:            var(--button-bdr-t-width);   
                          border-bottom-width:         var(--button-bdr-b-width);   
                          border-left-width:           var(--button-bdr-l-width);   
                          border-right-width:          var(--button-bdr-r-width);   
                          border-top-left-radius:      var(--button-bdr-tl-radius);    
                          border-top-right-radius:     var(--button-bdr-tr-radius);    
                          border-bottom-left-radius:   var(--button-bdr-bl-radius);    
                          border-bottom-right-radius:  var(--button-bdr-br-radius);
                          }
/* DESCRIPTION              */ 
    .desc, .description, h3 {
                          color:                       var(--description-color         );
                          font-family:                 var(--description-font-family   ); 
                          font-size:                   var(--description-font-size     );
                          font-weight:                 var(--description-font-weight   ); 
                          font-style:                  var(--description-font-style    );
                          background-color:            var(--description-background-color);
                          text-align:                  var(--description-text-align    );
                          margin:                      var(--description-margin-top) var(--description-margin-right) var(--description-margin-bottom) var(--description-margin-left);
                          margin-top:                  var(--description-margin-top    );
                          margin-bottom:               var(--description-margin-bottom );
                          margin-left:                 var(--description-margin-left   );
                          margin-right:                var(--description-margin-right  );
                          padding-top:                 var(--description-padding-top   );   
                          padding-bottom:              var(--description-padding-bottom);   
                          padding-left:                var(--description-padding-left  );   
                          padding-right:               var(--description-padding-right );
                          line-height:                 var(--description-line-height   ); 
                          }  
/* DIV                      */ 
    
    div                     { background-color:            transparent;          }
/* INPUT                    */ 

    input                   { height:                      var(--ip-txt-height); }
/* SELLECT                  */ 

    select                  { /* SELECT options element */
        background-color:            transparent; 
        color:                       var(--button-color);
        font-size:                   var(--desc-txt-height); }
    body, .noSelect         { /* prevent accidental selection of text or element (highlight)  */
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
        }
    .selectAll              { /* allow user to select elements for copy */
    user-select: all; /* supported by Chrome and Opera */
   -webkit-user-select: all; /* Safari */
   -khtml-user-select: all; /* Konqueror HTML */
   -moz-user-select: all; /* Firefox */
   -ms-user-select: all; /* Internet Explorer/Edge */
        }
    .selectText             { /* allow user to select only text for copy */
    user-select: text; /* supported by Chrome and Opera */
   -webkit-user-select: text; /* Safari */
   -khtml-user-select: text; /* Konqueror HTML */
   -moz-user-select: text; /* Firefox */
   -ms-user-select: text; /* Internet Explorer/Edge */
        }
/* SHADOW                   */ 

    .shadow                 {
                          text-shadow:                 var(--text-shadow-color)  var(--text-shadow-h)  var(--text-shadow-v)  var(--text-shadow-blur),
                                                       var(--text-shadow2-color) var(--text-shadow2-h) var(--text-shadow2-v) var(--text-shadow2-blur),
                                                       var(--text-shadow3-color) var(--text-shadow3-h) var(--text-shadow3-v) var(--text-shadow3-blur),
                                                       var(--text-shadow4-color) var(--text-shadow4-h) var(--text-shadow4-v) var(--text-shadow4-blur)
        }
    .boxShadow              {
        box-shadow:                  var(--button-sdow-h) var(--button-sdow-v) var(--button-sdow-blur) var(--button-sdow-spread) var(--button-sdow-color);
        }
    .noShadow               {
        text-shadow:                 none;
        box-shadow:                  none;
        }
/* SPAN                     */ 

    span                    { background-color:            transparent;          }
/* TITLE        H1         `*/ 
    .title, h1              {
                          color:                       var(--title-color         );
                          font-family:                 var(--title-font-family   ); 
                          font-size:                   var(--title-font-size     );
                          font-weight:                 var(--title-font-weight   ); 
                          font-style:                  var(--title-font-style    );
                          background-color:            var(--title-background-color);
                          text-align:                  var(--title-text-align    );
                          margin:                      var(--title-margin-top) var(--title-margin-right) var(--title-margin-bottom) var(--title-margin-left);
                          margin-top:                  var(--title-margin-top    );
                          margin-bottom:               var(--title-margin-bottom );
                          margin-left:                 var(--title-margin-left   );
                          margin-right:                var(--title-margin-right  );
                          padding-top:                 var(--title-padding-top   );   
                          padding-bottom:              var(--title-padding-bottom);   
                          padding-left:                var(--title-padding-left  );   
                          padding-right:               var(--title-padding-right );
                          line-height:                 var(--title-line-height   ); 
                        }  
    h1                      { color:                       var(--color);         }

/* ------------------------------- SPECIAL CLASSES                  */

/* COLORS                   */ 

    .red,      .sysRed,      .sys-red,       red      { color:            var(--sys-red   ); }
    .green,    .sysGreen,    .sys-green,     green    { color:            var(--sys-green ); }
    .yellow,   .sysYellow,   .sys-yellow,    yellow   { color:            var(--sys-yellow); }
    .blue,     .sysBlue,     .sys-blue,      blue     { color:            var(--sys-blue  ); }
    .redBg,    .sysRedBg,    .sys-redBg,     redBg    { background-color: var(--sys-redBg   ); }
    .greenBg,  .sysGreenBg,  .sys-greenBg,   greenBg  { background-color: var(--sys-greenBg ); }
    .yellowBg, .sysYellowBg, .sys-yellowBg,  yellowBg { background-color: var(--sys-yellowBg); }
    .blueBg,   .sysBlueBg,   .sys-blueBg,    blueBg   { background-color: var(--sys-blueBg  ); }
/* ICONS                    */ 

    .pointUp    { content: '🠝'; }
    .pointDown  { content: '🠟'; }
    .pointLeft  { content: '🠜'; }
    .pointRight { content: '🠞'; }
    .pointBack  { content: '◀'; }
    /*
    . { content: '⛯'; }
    . { content: '❌'; }   
    . { content: '∧'; }   
    . { content: '∨'; }  
    . { content: '⋀'; }
    . { content: '⋁'; }
    . { content: ''; }
    . { content: '◀'; }
    . { content: '▶'; }
    . { content: '⛛'; }
    . { content: '🗑'; }
    . { content: '⟲'; }
    . { content: '✏'; }
    . { content: '♡'; }
    . { content: '❤'; }
    . { content: ''; }
    . { content: ''; }
    . { content: ''; }
    . { content: ''; }
    . { content: '◤'; }
    . { content: '◣'; }
    . { content: '◥'; }
    . { content: '◢'; }
    . { content: ''; }
    */
/* POSITIONing              */ 

    .full                   { width: 100% }
    .center             { text-align:    center;
                          align-content: center;
                          align-items:   center;
                        }
/* SAMPLE OUTPUT SCREENS    */ 

    .sampleSpan {
        color: ghostwhite;
        width:  150px;
        height: 50px;
        border-style: solid;
        border-color: var(--sys-green);
        border-width: 3px;
        border: none;
        background-color: darkblue;
        margin-bottom: 60px;
        }
    .sampleDiv  {
        color: ghostwhite;
        width:  150px;
        height: 50px;
        border-style: solid;
        border-color: var(--sys-blue);
        border-width: 3px;
        border: none;
        background-color: darkblue;
        margin-bottom: 40px;
        }

/* THEMES ------------------------ THEMEs                           */

    html[data-theme='light'] {

                  }
    html[data-theme='dark'] {

                  }

